<div class="app-toolbar">
  <h1>Asset Allocation</h1>
  <%= link_to "Allocate Asset", new_allocation_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>Asset</th>
        <th>TO</th>
        <th>Allocation Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @allocations.each do |allocation| %>
        <tr>
          <td><%= allocation.asset.name %></td>
          <td><%= allocation.to.name %></td>
          <td><%= allocation.allocated_at&.strftime("%d-%m-%Y") || "-" %></td>
          <td class="app-row-actions">
            <%= link_to "Delete", allocation, method: :delete, data: { turbo_confirm: "Delete this allocation?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
