<div id="<%= dom_id approval_channel %>">
  <div>
    <strong>Form name:</strong>
    <%= approval_channel.form_name %>
  </div>

  <div>
    <strong>Approval type:</strong>
    <%= approval_channel.approval_type %>
  </div>

  <div>
    <strong>Level 1 approver:</strong>
    <%= approval_channel.level_1_approver %>
  </div>

  <div>
    <strong>Level 2 approver:</strong>
    <%= approval_channel.level_2_approver %>
  </div>

  <div>
    <strong>Level 3 approver:</strong>
    <%= approval_channel.level_3_approver %>
  </div>

</div>
