<div class="app-approval-step-row" data-approval-step-row>
  <%= form.hidden_field :_destroy, value: "false", data: { approval_step_destroy: true } %>

  <div class="app-form-grid app-approval-step-grid">
    <div style="display: none;">
      <%= form.number_field :step_number, min: 1, data: { approval_step_number: true } %>
    </div>

    <div class="app-form-field">
      <%= form.label :from_user_id, "From User" %>
      <%= form.collection_select :from_user_id, employee_options, :id, :name, { prompt: "Blank for first step" }, class: "form-control", data: { approval_from_user: true } %>
    </div>

    <div class="app-form-field">
      <%= form.label :to_responsible_user_id, "To Responsible User" %>
      <%= form.collection_select :to_responsible_user_id, employee_options, :id, :name, { prompt: "Select responsible user" }, class: "form-control", data: { approval_to_user: true } %>
    </div>

    <div class="app-form-field">
      <%= form.label :previous_action, "Previous Action" %>
      <%= form.text_field :previous_action, class: "form-control", placeholder: "NA for first step", data: { approval_previous_action: true }, readonly: true %>
    </div>

    <div class="app-form-field">
      <%= form.label :current_action, "Current Action <span style='color: #d85f52;'>*</span>".html_safe %>
      <%= form.select :current_action, @approval_actions, { prompt: "Select Action" }, { class: "form-control", data: { approval_current_action: true } } %>
    </div>
  </div>

  <div class="app-approval-step-row-actions">
    <button type="button" class="app-action-button app-delete-button" data-remove-approval-step>Remove</button>
  </div>
</div>
