<div class="app-toolbar">
  <h1>Approval Channel Master</h1>
  <%= link_to "Add Approval Channel", new_approval_channel_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
<table class="table app-table">
  <thead>
    <tr>
      <th>Form Name</th>
      <th>Stakeholder</th>
      <th>From User</th>
      <th>To Responsible User</th>
      <th>Previous Action</th>
      <th>Current Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @approval_channels.each do |approval_channel| %>
      <% approval_channel.flow_steps.each do |step| %>
        <tr>
          <td><%= approval_channel.form_name %></td>
          <td><%= approval_channel.stakeholder_category&.name || "-" %></td>
          <td><%= step.try(:from_user)&.name || "System" %></td>
          <td><%= step.to_responsible_user.name %></td>
          <td><%= step.previous_action.presence || "NA" %></td>
          <td><%= step.current_action %></td>
          <td class="app-row-actions">
            <div class="d-flex align-items-center gap-2">
              <%= link_to edit_approval_channel_path(approval_channel), class: "app-action-icon text-warning", title: "Edit" do %>
                <%= app_icon(:pencil, size: 18) %>
              <% end %>
              <%= button_to approval_channel_path(approval_channel), method: :delete, data: { turbo_confirm: "Delete this entire approval channel?" }, class: "app-action-icon text-danger", title: "Delete" do %>
                <%= app_icon(:trash, size: 18) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
