<div class="app-toolbar">
  <h1>Approval Channel Master</h1>
  <%= link_to "Add Approval Channel", new_approval_channel_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
<table class="table app-table">
  <thead>
    <tr>
      <th>Thematic Name</th>
      <th>Stakeholder</th>
      <th>From User</th>
      <th>To Responsible User</th>
      <th>Previous Action</th>
      <th>Current Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @approval_channels.each do |approval_channel| %>
      <% steps = approval_channel.flow_steps %>
      <% steps.each_with_index do |step, index| %>
        <tr>
          <% if index == 0 %>
            <td rowspan="<%= steps.size %>" style="vertical-align: middle;">
              <strong><%= approval_channel.form_name %></strong>
              <div class="text-muted small"><%= "(#{approval_channel.theme&.name})" if approval_channel.theme_id.present? %></div>
            </td>
            <td rowspan="<%= steps.size %>" style="vertical-align: middle;"><%= approval_channel.stakeholder_category&.name || "-" %></td>
          <% end %>
          <td><%= step.try(:from_user)&.name || "System" %></td>
          <td><%= step.to_responsible_user.name %></td>
          <td><%= step.previous_action.presence || "NA" %></td>
          <td><%= step.current_action %></td>
          <% if index == 0 %>
            <td class="app-row-actions" rowspan="<%= steps.size %>" style="vertical-align: middle;">
              <div class="d-flex align-items-center gap-2">
                <%= link_to edit_approval_channel_path(approval_channel), class: "app-action-icon text-warning", title: "Edit" do %>
                  <%= app_icon(:pencil, size: 18) %>
                <% end %>
                <%= button_to approval_channel_path(approval_channel), method: :delete, data: { turbo_confirm: "Delete this entire approval channel?" }, class: "app-action-icon text-danger", title: "Delete" do %>
                  <%= app_icon(:trash, size: 18) %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
