<div id="<%= dom_id vendor_registration %>">
  <div>
    <strong>Registration type:</strong>
    <%= vendor_registration.registration_type_id %>
  </div>

  <div>
    <strong>Company name:</strong>
    <%= vendor_registration.company_name %>
  </div>

  <div>
    <strong>Firm:</strong>
    <%= vendor_registration.firm_id %>
  </div>

  <div>
    <strong>Vendor name:</strong>
    <%= vendor_registration.vendor_name %>
  </div>

  <div>
    <strong>Firm type:</strong>
    <%= vendor_registration.firm_type %>
  </div>

  <div>
    <strong>Gst no:</strong>
    <%= vendor_registration.gst_no %>
  </div>

  <div>
    <strong>Pan no:</strong>
    <%= vendor_registration.pan_no %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= vendor_registration.email %>
  </div>

  <div>
    <strong>Mobile no:</strong>
    <%= vendor_registration.mobile_no %>
  </div>

  <div>
    <strong>State:</strong>
    <%= vendor_registration.state_id %>
  </div>

  <div>
    <strong>District:</strong>
    <%= vendor_registration.district_id %>
  </div>

  <div>
    <strong>Block:</strong>
    <%= vendor_registration.block_id %>
  </div>

  <div>
    <strong>Pin no:</strong>
    <%= vendor_registration.pin_no %>
  </div>

  <div>
    <strong>Contact person name:</strong>
    <%= vendor_registration.contact_person_name %>
  </div>

  <div>
    <strong>Contact person designation:</strong>
    <%= vendor_registration.contact_person_designation %>
  </div>

  <div>
    <strong>Msme:</strong>
    <%= vendor_registration.msme %>
  </div>

  <div>
    <strong>Msme number:</strong>
    <%= vendor_registration.msme_number %>
  </div>

  <div>
    <strong>Company status:</strong>
    <%= vendor_registration.company_status %>
  </div>

  <div>
    <strong>Business description:</strong>
    <%= vendor_registration.business_description %>
  </div>

  <div>
    <strong>Submitted at:</strong>
    <%= vendor_registration.submitted_at %>
  </div>

  <div>
    <strong>Submitted ip:</strong>
    <%= vendor_registration.submitted_ip %>
  </div>

</div>
