<%= form_with(model: block) do |form| %>
  <% if block.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :district_id, class: "form-label" %>
    <%= form.collection_select :district_id, @districts, :id, :name, { prompt: "Select district" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :name, "Block Name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
