<%= form_with model: @pmu do |f| %>
  <div class="app-form-card">
    <div class="app-form-grid two-col">
      <div class="app-form-field">
        <%= f.label :block_id, "Block" %>
        <%= f.select :block_id, options_for_select(@blocks.map { |block| ["#{block.district.state.name} / #{block.district.name} / #{block.name}", block.id] }, @pmu.block_id), { prompt: "Select block" } %>
      </div>

      <div class="app-form-field">
        <%= f.label :name, "PMU Name" %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="app-form-actions">
      <%= f.submit "Save PMU", class: "app-form-submit" %>
    </div>
  </div>
<% end %>
