<div class="app-toolbar">
  <h1>PMU</h1>
  <%= link_to "Add PMU", new_pmu_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>State</th>
        <th>District</th>
        <th>Block</th>
        <th>PMU Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @pmus.each do |pmu| %>
        <tr>
          <td><%= pmu.state.name %></td>
          <td><%= pmu.location_district.name %></td>
          <td><%= pmu.block&.name || "-" %></td>
          <td><%= pmu.name %></td>
          <td class="app-row-actions">
            <%= link_to "Edit", edit_pmu_path(pmu) %> |
            <%= button_to "Delete", pmu_path(pmu), method: :delete, data: { turbo_confirm: "Delete this PMU?" }, class: "app-action-button app-delete-button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
