<%= form_with(model: product, local: true) do |f| %>
  <div class="app-form-card">
    <div class="app-form-grid two-col">
      <div class="app-form-field">
        <%= f.label :theme_id, "Thematic Type" %>
        <%= f.collection_select :theme_id, Theme.order(:name), :id, :name, { prompt: "Select thematic type" }, class: "form-control" %>
      </div>

      <div class="app-form-field">
        <%= f.label :name, "Product Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="app-form-field">
        <%= f.label :stakeholder_category_id, "Stakeholder" %>
        <%= f.collection_select :stakeholder_category_id, StakeholderCategory.order(:name), :id, :name, { prompt: "Select stakeholder" }, class: "form-control" %>
      </div>

      <div class="app-form-field">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control", rows: 3 %>
      </div>
    </div>

    <div class="app-form-actions">
      <%= f.submit "Save Product", class: "app-form-submit" %>
    </div>
  </div>
<% end %>
