<div id="<%= dom_id vendor_bank_master %>">
  <div>
    <strong>Vendor registration:</strong>
    <%= vendor_bank_master.vendor_registration_id %>
  </div>

  <div>
    <strong>Bank name:</strong>
    <%= vendor_bank_master.bank_name %>
  </div>

  <div>
    <strong>Bank address:</strong>
    <%= vendor_bank_master.bank_address %>
  </div>

  <div>
    <strong>Ifsc code:</strong>
    <%= vendor_bank_master.ifsc_code %>
  </div>

  <div>
    <strong>Account number:</strong>
    <%= vendor_bank_master.account_number %>
  </div>

  <div>
    <strong>Account type:</strong>
    <%= vendor_bank_master.account_type %>
  </div>

</div>
