<div id="<%= dom_id vendor_bank_master %>" class="app-detail-card">
  <div class="app-detail-grid">
    <div class="app-detail-item">
      <div class="app-detail-label">Vendor</div>
      <div class="app-detail-value"><%= vendor_bank_master.vendor_registration&.display_name %></div>
    </div>

    <div class="app-detail-item">
      <div class="app-detail-label">Bank Name</div>
      <div class="app-detail-value"><%= vendor_bank_master.bank_name %></div>
    </div>

    <div class="app-detail-item">
      <div class="app-detail-label">Bank Address</div>
      <div class="app-detail-value"><%= vendor_bank_master.bank_address %></div>
    </div>

    <div class="app-detail-item">
      <div class="app-detail-label">IFSC Code</div>
      <div class="app-detail-value"><%= vendor_bank_master.ifsc_code %></div>
    </div>

    <div class="app-detail-item">
      <div class="app-detail-label">Account Number</div>
      <div class="app-detail-value"><%= vendor_bank_master.account_number %></div>
    </div>

    <div class="app-detail-item">
      <div class="app-detail-label">Account Type</div>
      <div class="app-detail-value"><%= vendor_bank_master.account_type %></div>
    </div>
  </div>
</div>
