<%= form_with model: @to do |f| %>
  <div class="app-form-card">
    <div class="app-form-grid two-col">
      <div class="app-form-field">
        <%= f.label :fco_id, "FCO" %>
        <%= f.collection_select :fco_id, Fco.order(:name), :id, :name, { prompt: "Select FCO" } %>
      </div>

      <div class="app-form-field">
        <%= f.label :name, "TO Name" %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="app-form-actions">
      <%= f.submit "Save TO", class: "app-form-submit" %>
    </div>
  </div>
<% end %>
