<div class="app-toolbar">
  <h1>TO</h1>
  <%= link_to "Add TO", new_to_path, class: "app-primary-btn" %>
</div>

<div class="app-table-wrap">
  <table class="table app-table">
    <thead>
      <tr>
        <th>State</th>
        <th>District</th>
        <th>Block</th>
        <th>PMU</th>
        <th>FCO</th>
        <th>TO Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tos.each do |to| %>
        <tr>
          <td><%= to.state.name %></td>
          <td><%= to.district.name %></td>
          <td><%= to.block&.name || "-" %></td>
          <td><%= to.fco.pmu.name %></td>
          <td><%= to.fco.name %></td>
          <td><%= to.name %></td>
          <td class="app-row-actions">
            <%= link_to "Edit", edit_to_path(to) %> |
            <%= button_to "Delete", to_path(to), method: :delete, data: { turbo_confirm: "Delete this TO?" }, class: "app-action-button app-delete-button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
