<h1>TO List</h1>

<%= link_to "Add TO", new_to_path %>

<table border="1">

<tr>
<th>Name</th>
<th>FCO</th>
<th>Action</th>
</tr>

<% @tos.each do |to| %>

<tr>

<td><%= to.name %></td>
<td><%= to.fco.name %></td>

<td>
<%= link_to "Edit", edit_to_path(to) %> |
<%= link_to "Delete", to, method: :delete %>
</td>

</tr>

<% end %>

</table>