<aside class="app-sidebar">
  <ul class="nav flex-column">
    <li><%= app_nav_link("Dashboard", root_path, icon: :dashboard) %></li>

    <li>
      <%= app_dropdown_toggle("Office Category", "officeCategoryMenu", icon: :office) %>
      <div class="collapse submenu" id="officeCategoryMenu">
        <ul class="nav flex-column">
          <li><%= app_nav_link("PMU", pmus_path, icon: :office) %></li>
          <li><%= app_nav_link("FCO", fcos_path, icon: :office) %></li>
          <li><%= app_nav_link("TO", tos_path, icon: :office) %></li>
        </ul>
      </div>
    </li>

    <li>
      <%= app_dropdown_toggle("LG", "lgMenu", icon: :map) %>
      <div class="collapse submenu" id="lgMenu">
        <ul class="nav flex-column">
          <li><%= app_nav_link("State", states_path, icon: :map) %></li>
          <li><%= app_nav_link("District", districts_path, icon: :map) %></li>
          <li><%= app_nav_link("Block", blocks_path, icon: :map) %></li>
        </ul>
      </div>
    </li>

    <li>
      <%= app_dropdown_toggle("Stakeholder Categories", "stakeholderMenu", icon: :people) %>
      <div class="collapse submenu" id="stakeholderMenu">
        <ul class="nav flex-column">
          <li><%= app_nav_link("Stakeholder Name", stakeholder_categories_path, icon: :people) %></li>
        </ul>
      </div>
    </li>

    <li><%= app_nav_link("Registration Types", registration_types_path, icon: :registration) %></li>
    <li><%= app_nav_link("Service Types", service_types_path, icon: :service) %></li>
    <li><%= app_nav_link("Vendor Thematic Types", themes_path, icon: :theme) %></li>
    <li><%= app_nav_link("Product Entry", products_path, icon: :product) %></li>
    <li><%= app_nav_link("Product Variety Entry", product_varieties_path, icon: :layers) %></li>
    <li><%= app_nav_link("Units", units_path, icon: :unit) %></li>
    <li><%= app_nav_link("Documents", document_masters_path, icon: :document) %></li>
    <li><%= app_nav_link("Approval Channels", approval_channels_path, icon: :approval) %></li>
    <li><%= app_nav_link("My Approvals", approval_requests_path, icon: :approval) %></li>
    <li><%= app_nav_link("Firms", firms_path, icon: :firm) %></li>
    <li><%= app_nav_link("Employee Master", employee_masters_path, icon: :people) %></li>
    <li><%= app_nav_link("Banks", vendor_bank_masters_path, icon: :bank) %></li>
    <li><%= app_nav_link("Vendor Registration Form", vendor_registrations_path, icon: :vendor) %></li>
    <li><%= app_nav_link("Assets", assets_path, icon: :asset) %></li>
    <li><%= app_nav_link("Allocation", allocations_path, icon: :allocation) %></li>
  </ul>
</aside>
