<aside class="app-sidebar">
  <ul class="nav flex-column">
    <li><%= app_nav_link("Dashboard", root_path, icon: :dashboard, identifier: "dashboard") %></li>
    
    <% if can_view_menu?("rbac_master") %>
      <li>
        <%= app_dropdown_toggle("User Rights", "userManagementMenu", icon: :people, identifier: "rbac_master") %>
        <div class="collapse submenu h-auto" id="userManagementMenu">
          <ul class="nav flex-column">
            <li><%= link_to "Role Based Access Control", menu_permissions_path, class: "nav-link" %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if can_view_menu?("office_category_main") %>
      <li>
        <%= app_dropdown_toggle("Office Category", "officeCategoryMenu", icon: :office, identifier: "office_category_main") %>
        <div class="collapse submenu" id="officeCategoryMenu">
          <ul class="nav flex-column">
            <li><%= app_nav_link("PMU", pmus_path, icon: :office, identifier: "office_pmu") %></li>
            <li><%= app_nav_link("FCO", fcos_path, icon: :office, identifier: "office_fco") %></li>
            <li><%= app_nav_link("TO", tos_path, icon: :office, identifier: "office_to") %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if can_view_menu?("lg_main") %>
      <li>
        <%= app_dropdown_toggle("LG", "lgMenu", icon: :map, identifier: "lg_main") %>
        <div class="collapse submenu" id="lgMenu">
          <ul class="nav flex-column">
            <li><%= app_nav_link("State", states_path, icon: :map, identifier: "lg_state") %></li>
            <li><%= app_nav_link("District", districts_path, icon: :map, identifier: "lg_district") %></li>
            <li><%= app_nav_link("Block", blocks_path, icon: :map, identifier: "lg_block") %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <% if can_view_menu?("stakeholder_categories") %>
      <li>
        <%= app_dropdown_toggle("Stakeholder Categories", "stakeholderMenu", icon: :people, identifier: "stakeholder_categories") %>
        <div class="collapse submenu" id="stakeholderMenu">
          <ul class="nav flex-column">
            <li><%= app_nav_link("Stakeholder Name", stakeholder_categories_path, icon: :people, identifier: "stakeholder_categories") %></li>
          </ul>
        </div>
      </li>
    <% end %>

    <li><%= app_nav_link("Thematic Type", themes_path, icon: :theme, identifier: "vendor_themes") %></li>
    <li><%= app_nav_link("Product Entry", products_path, icon: :product, identifier: "products") %></li>
    <li><%= app_nav_link("Product Variety Entry", product_varieties_path, icon: :layers, identifier: "product_varieties") %></li>
    <li><%= app_nav_link("Units", units_path, icon: :unit, identifier: "units") %></li>
    <li><%= app_nav_link("Documents", document_masters_path, icon: :document, identifier: "documents") %></li>
    <li><%= app_nav_link("Approval Channels", approval_channels_path, icon: :approval, identifier: "approval_channels") %></li>
    <% if can_view_menu?("quotation_proposal_main") || can_view_menu?("quotation_proposal_form") || can_view_menu?("quotation_proposal_list") %>
      <li>
        <%= app_dropdown_toggle("Quotation Proposal", "quotationProposalMenu", icon: :document, identifier: "quotation_proposal_main") %>
        <div class="collapse submenu h-auto" id="quotationProposalMenu">
          <ul class="nav flex-column">
            <% if can_view_menu?("quotation_proposal_form") %>
              <li><%= link_to "Create Quotation Proposal", quotation_proposals_path, class: "nav-link" %></li>
            <% end %>
            <% if can_view_menu?("quotation_proposal_list") || can_view_menu?("quotation_proposal_form") %>
              <li><%= link_to "Quotation Proposal List", list_quotation_proposals_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
    <li><%= app_nav_link("Firm Types", firms_path, icon: :firm, identifier: "firms") %></li>
    <li><%= app_nav_link("Employee Master", employee_masters_path, icon: :people, identifier: "employee_master") %></li>
    <li><%= app_nav_link("Banks", vendor_bank_masters_path, icon: :bank, identifier: "banks") %></li>
    <% if can_view_menu?("vendor_registration_main") || can_view_menu?("vendor_registration") || can_view_menu?("vendor_registration_list") %>
      <li>
        <%= app_dropdown_toggle("Vendor Registration Form", "vendorRegistrationMenu", icon: :vendor, identifier: "vendor_registration_main") %>
        <div class="collapse submenu h-auto" id="vendorRegistrationMenu">
          <ul class="nav flex-column">
            <% if can_view_menu?("vendor_registration") %>
              <li><%= link_to "Vendor Registration", vendor_registrations_path, class: "nav-link" %></li>
            <% end %>
            <% if can_view_menu?("vendor_registration_list") || can_view_menu?("vendor_registration") %>
              <li><%= link_to "Vendor Registration List", list_vendor_registrations_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
    <li><%= app_nav_link("Assets", assets_path, icon: :asset, identifier: "assets") %></li>
    <li><%= app_nav_link("Allocation", allocations_path, icon: :allocation, identifier: "allocation") %></li>
    <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item d-flex align-items-center gap-2 py-2 px-3 text-danger border-0 bg-transparent w-100 text-start" do %>
      <%= app_icon(:logout, classes: "icon-sm") %>
      <span>Logout Account</span>
    <% end %>
  </ul>
</aside>
